.boton-contenedor {
	height: 83px;
	display: flex;
	flex: 1 1;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 38px;
	background-color: #1b1b32;
	color: white;
	border-radius: 25px;
	border: 2px solid white;
	cursor: pointer;
	margin: 4px;
	user-select: none;
}

.boton-contenedor:hover {
	background-color: #5a01a7;
}

.operador {
	background-color: #1b6639;
}
.operador:hover {
	background-color: #ff6600;
}